.App {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide_item {
    width: 90%;
    height: 350px;
    /* Evita quebra */
    object-fit: cover;
    border: 10px solid #FFF;
}

