
.game_over{
    background-color: rgb(21, 21, 21);
    box-shadow: 0 0 30px 0.5px #ff0000;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_game_over {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    animation: pulse 2s infinite;
}


h2 span {
    color: #060606;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #FFF;
    font-weight: 700;
    padding: 2px;
}

.end_title {
    font-size: 4rem;
    color: #ff0000;
    margin-bottom: 20px;
    font-weight: 700;
}

.end_points_player {
    font-size: 2rem;
    color: #ff0000;
    margin-bottom: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.02);
    }
    200% {
        transform: scale(1);
    }
}




