.start h1 {
    font-size: 3.5em;
}

.start p {
    font-size: 1.5em;
}
.start p {
    margin: 0 0 2rem 0;
    color: #ecfa00;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.start h1 {
    font-size: 3.5em;
}

.start p {
    font-size: 1.5em;
    margin: 0 0 2rem 0;
    color: rgb(0, 255, 174);
}

.start button {
    background: rgb(0, 255, 174);
    color: rgb(12, 12, 12);
    padding: 0 20px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
}

u {
    color: rgb(0, 255, 174);
}

.header .w {
    background-color: #ffffff; /* Adiciona um fundo branco */
    padding: 5px; /* Adiciona um padding para dar espaço interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    display: inline-block; /* Garante que o span se comporte como uma caixa */
    line-height: 1; /* Ajuste o valor conforme necessário */
}

